<div class="d-flex flex-row justify-content-center">
    <div class="p-5 w-50">
        <h1 class="text-center">Calculator</h1>
        <div class="mb-3">
        <input class="form-control text-center" [(ngModel)]="expression" placeholder="Enter expression" >
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let num of numbers">
                <button class="btn btn-light w-100 mb-2 border border-dark" (click)="addToExp(num)">{{ num }}</button>
            </div>
            <div class="col-4" *ngFor="let op of operators">
                <button class="btn btn-secondary w-100 mb-2" (click)="addToExp(op)">{{ op }}</button>
            </div>
            <div class="col-4">
                <button class="btn btn-success w-100 mb-2" (click)="evalexpression()">=</button>
            </div>
        </div>
        <div class="d-flex row justify-content-center ">
            <p class="text-center border border-3 rounded p-3 col-9 me-3">Result: {{ result }}</p>
            <button (click)="clearExp()" class="btn btn-danger col-2 h-50">Clear</button>
        </div>
    </div>
</div>